.buttonStyle{
    width: 50rem;
    height: 7rem;
    border-radius: 10px;
    font-size: 35px;
    background-color: #3c8dbc;
    border-color: #367fa9;
    border: 1px solid transparent;
    color: #fff;
    margin-bottom: 20px;

}

.divClass{
    height: 400px;
    width: 500px;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}

.divClass1{
    padding-top: 10%;
}

.textQuest{
    padding-bottom: 20px;
    color: #444;
    font-weight: bold;
    font-size: 46px;
}
