.divClass{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.textQuest{
    padding-bottom: 20px;
    color: #444;
    font-weight: bold;
    font-size: 46px;
}

.imageLeft{
    vertical-align: bottom;
    border-style: none;
    position: absolute;
    bottom: 0px;
    left: 200px;
    width: 211px;
}

.imageRight{
    vertical-align: bottom;
    border-style: none;
    position: absolute;
    bottom: 0px;
    right: 200px;
    width: 211px;
}